// Variables for component

/////////////
// Entries //
/////////////

$entry-padding: 18px 30px 20px;

////////////
// Inputs //
////////////

$input-height: 52px;
$input-padding: 15px;
$input-margin: 30px;
$input-border: 2px solid $base-border-color;
$input-placeholder-color: $unimportant-text-color;
$input-font-size: $bigger-text;

/////////////
// Buttons //
/////////////

$button-height: 52px;
$button-padding: 30px;
$button-background: $primary-color;
$button-color: white;

///////////
// Forms //
///////////

$form-input-width-ratio: 70%;

//////////////
// User bar //
//////////////

$user-bar-background: $base-border-color;
$user-bar-height: 52px;
$user-bar-padding: 25px;
