// Advantages of Koral listed on the landing page

.advantage {
  &:not(:last-child) {
    margin-bottom: 186px;
  }

  &:first-child {
    margin-top: 100px;
  }

  p {
    font-size: $bigger-text;
    color: $secondary-text-color;
  }

  strong {
    color: $normal-text-color;
  }
}
