// Variables

$button-height: 52px;
$button-small-height: 44px;

$button-padding: 30px;
$button-background: $primary-color;
$button-color: white;

// Mixins

@mixin button-states($button-background: $button-background,
                     $button-color: $button-color) {
  &, &:hover {
    color: $button-color;
    text-decoration: none;
  }

  &:focus, &:hover {
    background-color: tint($button-background, 10%);
    color: $button-color;
    text-decoration: none;
  }

  &, &:active {
    background-color: $button-background;
  }
}

// Styles

button, .button {
  @extend %input-base;
  @include user-select(none);

  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  padding: 0 $button-padding;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;
  font-weight: $light-font-weight;
  border-radius: $base-border-radius;

  @include button-states;

  &.button--contrast {
    @include button-states($contrast-color);
  }

  &.button--small {
    height: $button-small-height;
    line-height: $button-small-height;
  }
}
