// Styles for the landing page train

.train-canvas {
  @include transition(all 2s ease);
  display: block;
  margin: 0 auto;
  margin-top: 149px;
  opacity: 0;
}

.train-canvas--ready {
  opacity: 1;
}
