.hero#hero
  %canvas#hero-canvas.hero__canvas
  .hero__inner
    %h1.hero__title
      Version Control
      %span<> for
      Designers.

    %span.hero__subtitle
      Completely free and open-source.

%nav.navbar
  .container
    %ul.navbar__list.navbar__list
      %li.navbar__item
        %a.navbar__link{ href: "about" } How it works

      %li.navbar__item
        %a.navbar__link{ href: "contribute" } Contribute

    %ul.navbar__list.navbar__list--right
      %li.navbar__item
        %a.button.button--contrast.button--small.navbar__button{ href: "get" } Get Koral
