.hero#hero
  %canvas#hero-canvas.hero__canvas
  .hero__inner
    %h1.hero__title
      Version Control
      %span> for
      Designers.

    %span.hero__subtitle
      Completely free and open-source.

%nav.navbar
  .container
    %ul.navbar__list.navbar__list
      %li.navbar__item
        %a.navbar__link{ href: "about" } How it works

      %li.navbar__item
        %a.navbar__link{ href: "contribute" } Contribute

    %ul.navbar__list.navbar__list--right
      %li.navbar__item
        %a.button.button--contrast.button--small.navbar__button{ href: "get" } Get Koral

.container
  .row
    .col-sm-6
      .advantage
        %h2 Be one with your team.

        %p
          Koral makes your design work visible to anyone in the team, at a glance.

        %p
          Your colleagues will always be in the loop, and when they need to see your design, they won’t have to ask for it.

      .advantage
          %h2 No headaches.

          %p
            Design collaboration is a breeze with Koral. All of your work is available online, and you get a complete history of your changes.

          %p
            That mockup you made a few weeks ago? It’s still in Koral, just a few clicks away.

      .advantage
          %h2 Get back to design.

          %p
            Koral stays out of your way. Syncing happens in the background, and you can organize your files in the way that makes you most productive.

          %p
            Koral is fully compatible with
            %strong> Photoshop
            and
            %strong> Sketch.
            %br/
            The desktop client is available for
            %a{ href: "get" }> Mac
            and
            %a{ href: "get" }> Windows.

    .col-sm-6
      %canvas#train-canvas.train-canvas

.open-source-note
  .open-source-note__inner
    %h2.open-source-note__title It’s free and open-source.

    %p
      Koral is still under heavy development,
      %br/
      and will be available to everyone soon.

    %p
      Are you a developer?

      %a{ href: "contribute" }>
        %img{ src: "images/github.svg", alt: "" }
        Join our quest.

    %p
      If you just want to give it a try,
      %br/
      %a{ href: "about#sign-up" }
        sign up to know when it’s ready.

