.hero#hero
  %canvas#hero-canvas.hero__canvas
  .hero__inner
    %h1.hero__title
      Version Control
      %span<> for
      Designers.

    %span.hero__subtitle
      Completely free and open-source.
